.settings/
.idea/
target/
.gradle/
build/
classes/
out/
.classpath
.project
*.md
!README.md
*.iml
*.
*.DS_Store
LICENSE
gradle.properties
deploy/server/wlp/usr/servers/defaultServer/dropins/
src/main/resources/authentication-configuration.properties
src/integration-test/resources/cloudant.properties